# Set the default registry
registry=https://registry.npmjs.org/

# Avoid running npm audit automatically on install
audit=true

# Set the proxy if needed
# proxy=http://your-proxy-url/
# https-proxy=http://your-proxy-url/

# Enable npm's offline mode
# offline=true

# Define custom scripts shell
# script-shell=/bin/bash

# Specify the cache directory
# cache=/path/to/npm-cache

# Set Node.js version
# node-version=20
# engine-strict=true
